#popup.hidden {
    display: none;
}
#popup {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#popup-content {
    position: fixed;
    top: 20%;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    height: 70%;
    align-items: center;
    z-index: 1;
    font-size: larger;

}
#popup-image{
    width: 55%;
    height: 45%;
}

.close-btn {
    background-color: #ff3b3b;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    align-self: flex-start
}

@media (max-width: 768px) {
    #popup-content {
        width: 95%;
        height: 85%;
        top: 13%;
        font-size: medium;
        overflow: auto;
    }

    #popup-image{
        width: 80%;
        height: 70%;
    }
    #close-btn{
        font-size: 10px;
    }
   
}

